<h4 class="text-900 mb-3">{{ 'security.2fa.success'|trans }}</h4>
<div class="mb-4" style="width: 140px;">
    <animated-icon name="barbed-success-check" />
</div>
<p class="text-650 text-16 w-100 w-md-75 w-xl-50 mb-4"> {{ 'security.2fa.successInfo'|trans }} </p>
<a style="padding:0.125rem 1rem;" href="{{ path('profile_index')}}" class="btn btn-primary">
    {{ 'security.2fa.goProfile'|trans }}
</a>
