{% extends 'common/base.html.twig' %}
{% block paragraph %}
    {{ form_start(form) }}
    <div class="card-body bg-light border-top" style="padding:1.25rem 1.5rem;">
        {% block form %}
            {{ form_rest(form) }}
        {% endblock %}
    </div>
    <div class="card-footer border-top text-end" style="padding:1.25rem 1.5rem;">
        <button type="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
